*{
margin:0;
padding:0;
}
body{
background-color:#F0F3BD;
}

.main{
margin-left:auto;
margin-right:auto;
width:70%;
height:auto;
}
img{
height:100px;
width:300px;
}
.logo{float:right;
font-size:5em;
color:#05668D;
margin-right:40px;
}
ul {
font-size:20px;
list-style:none;
background-color:#00A896;
border-radius:3px;
}
ul li{
display:inline-block;

color:#556b2f;
padding:20px;
}
.artical{
border-radius:5px;
background-color:white;
height:auto;
width:494px;
font-size:20px;
line-height:1.3em;
color:#028090;
padding:5px;
}
.nav{
margin-bottom:5px;
}
aside{
float:right;
margin-top:-425px;
width:auto;
height:auto;

}
.img2
{
height:420px;
width:384px;
border: 2px solid black;
border-radius:5px;	
}
footer{
float:right;
margin-right:3px;
margin-top:10px;

}
h1{
font-size:19px;
color:#8491A3;
}
a{
text-decoration:none;
color:#556b2f;
}
.yy{

line-height:1.3em;
color:white;
}
.yy h2{
text-align:center;
}
.xx{
width:98%;
height:auto;
background-color:#00A896;
margin-top:10px;
border-radius:10px;
padding:10px;
}
